body.p2{
	
	background-image: url("imagens/f8.jpg");
	background-size:100%;
	background-size: cover;
	background-attachment:fixed;
	background-attachment:fixed;
	background-repeat: no-repeat;
}
input.p2{
	font-family:serif;
	background-color: yellow;
	
}
a.p2{
	color: green;
}
nav.p1 {
    float: left;
    width: 15%;
    height:2000px; 
    background-color:transparent;
   
    padding: 20px;
}
section.p1{
	
	size: 40%;
	
}